.ModalWrapper {
  position: absolute;
  top: 74px;
  left: 78px;
  padding: 20px 15px;
  width: 22%;
  border-radius: 15px;
  background-image: url("../../assets/bg-card.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 10px rgba(197, 52, 88, 0.1));
}
